.App {
  text-align: right;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #516a9e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: rgb(170, 155, 155);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Ensure the navbar takes full width and centers its content */
.navbar {
  display: flex;
  justify-content: right; /* Center horizontally */
  background-color: #f8f9fa; /* Light background */
  padding: 1rem 0; /* Padding for a nicer look */
}

.navbar-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px; /* Adds space between the buttons */
}

.nav-item {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  padding: 10px 20px;
  color: black;
  font-size: 1.2rem; /* Adjust size for better visibility */
}

.nav-link:hover {
  text-decoration: underline;
}
